###          INDUSTRY EQUIPMENTS FAILURES


- Here we are going to predict the test data using train data by using model.
- The data in the train.csv have 170 features, now we are going to do a proper prediction on the data.

In [1]:
import pandas as pd
import math
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
from sklearn.metrics import roc_curve, auc
train=pd.read_csv("train.csv")

- Now, we are going to find the shape of the given trainind data

In [2]:

train=pd.read_csv("train.csv")
print(train.shape)

(60000, 171)

In [3]:
train.describe()

       feature_1_000
count   6.000000e+04
mean    5.933650e+04
std     1.454301e+05
min     0.000000e+00
25%     8.340000e+02
50%     3.077600e+04
75%     4.866800e+04
max     2.746564e+06

In [4]:
train.head()

,class,feature_1_000,feature_2_000,feature_3_000,feature_4_000,feature_5_000,feature_6_000,feature_7_000,feature_7_001,feature_7_002,...,feature_105_002,feature_105_003,feature_105_004,feature_105_005,feature_105_006,feature_105_007,feature_105_008,feature_105_009,feature_106_000,feature_107_000
0,neg,150472,na,na,na,na,na,0,0,0,...,1654734,748754,1447544,1207424,866890,508696,396736,0,na,na
1,neg,240,0,70,62,0,0,0,0,0,...,4248,1426,1834,1600,816,874,6,0,0,0
2,neg,59348,na,0,na,0,0,0,0,0,...,400926,198150,392978,426666,376902,271234,458198,25750,0,0
3,neg,31700,na,4868,4126,0,0,0,0,0,...,674688,223216,227050,43684,66,10,8,0,0,0
4,neg,17712,na,314,270,0,0,0,0,0,...,218418,69970,130530,327266,14178,38160,86,0,0,0

In [5]:
train['class'].value_counts()#to check negative and positive data in the gven data set

neg    59000
pos     1000
Name: class, dtype: int64

In [6]:
train['feature_1_000'].value_counts()

8          1023
10          953
14          920
12          882
6           594
16          568
18          423
28          407
0           393
30          319
20          315
4           312
26          276
32          237
22          222
2           214
24          212
34          164
36          132
38          112
40           80
42           79
44           60
62           59
60           52
364          49
46           48
68           47
80           47
172          47
           ...
22982         1
75388         1
131314        1
2572          1
58980         1
121462        1
5690          1
64114         1
177710        1
14954         1
31330         1
92768         1
74912         1
721018        1
43608         1
59984         1
30262         1
1002052       1
18000         1
31298         1
58948         1
47674         1
43576         1
64050         1
93982         1
42572         1
1093332       1
68140         1
1063466       1
4094          1
Name: feature_1_000, Length: 22095, dtype: int64

In [7]:
data=train.replace(['na'],1)

In [8]:
data.shape

(60000, 171)

In [9]:
d1=train['class']
d=train.drop('class',axis=1)

print(d.shape)
print(d1.shape)

(60000, 170)
(60000,)

In [10]:
train=train.replace(['na'],np.nan)

In [11]:
train=train.replace({'0':np.nan,'na':np.nan})

In [12]:
d=d.replace({'0':np.nan,'na':np.nan})

In [13]:
train.count().idxmin()

'feature_58_000'

In [14]:
train.count(axis=1).idxmin()

1881

In [15]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values=np.nan, strategy='median',axis=0)
imputer=imputer.fit(d)
d=imputer.transform(d)

In [16]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values=np.nan,strategy='mean')
imputer.fit(d)
d=imputer.transform(d)

In [17]:
imputed_data=pd.DataFrame.from_records(d)

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( d, d1, test_size=0.3)

In [19]:
print(Y_train.shape)
print(Y_test.shape)
print(X_train.shape)
print(X_test.shape)

(42000,)
(18000,)
(42000, 170)
(18000, 170)

In [20]:
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
classifier=neighbors.KNeighborsClassifier(n_neighbors=5)
classifier_model=classifier.fit(X_train,Y_train)
print(classifier_model.score(X_train,Y_train))

0.9903333333333333

In [21]:
print(classifier_model.score(X_test, Y_test))

0.987

In [22]:
Y_predict=classifier_model.predict(X_test)

In [24]:
classifier_model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [23]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test,Y_predict))
print(classification_report(Y_test,Y_predict))

[[17640    59]
 [  175   126]]
             precision    recall  f1-score   support

        neg       0.99      1.00      0.99     17699
        pos       0.68      0.42      0.52       301

avg / total       0.99      0.99      0.99     18000

In [25]:
c=confusion_matrix(Y_test,Y_predict)
c

array([[17640,    59],
       [  175,   126]], dtype=int64)

## Test.csv

In [26]:
test=pd.read_csv('test.csv')

In [27]:
test.shape

(16000, 170)

In [28]:
test=test.replace({'0':np.nan,'na':np.nan})

In [29]:
from sklearn.preprocessing import Imputer
test1=Imputer(missing_values='NaN',strategy='median',axis=0)
test_model=test1.fit(test)
test_data=test_model.transform(test.values)

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

#  to fit the standardscaler to the features and transform
std = sc.fit_transform(test_data)

In [31]:
Y_predict1=classifier_model.predict(std)

In [32]:
Y_predict1.shape

(16000,)

In [33]:
class_test=['pos' if i==1 else 'neg' for i in Y_predict1]

In [34]:
Y_predict1[Y_predict1==1]='pos'
Y_predict1[Y_predict1==0]='neg'

In [35]:
print(Y_predict1)
pred=pd.DataFrame(Y_predict1)
pd.value_counts(pred.values.flatten())

['neg' 'neg' 'neg' ... 'neg' 'neg' 'neg']

neg    16000
dtype: int64

In [94]:
print(*Y_predict1,sep='\n',file=open("submission1.txt","w"))

In [36]:
X_test = pd.read_csv("test.csv")

In [37]:
X_test=X_test.replace(['na'],np.nan)
from sklearn.preprocessing import Imputer


imputer=Imputer(missing_values=np.nan,strategy='mean')
imputer.fit(X_test)
X_test=imputer.transform(X_test)

In [38]:
predict=classifier_model.predict(X_test)

In [39]:
np.savetxt(r'predict.txt',predict,fmt='%s')